.line{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4; 
    -webkit-box-orient: vertical;
    white-space: pre-line;
    vertical-align: bottom;
}
.like-icon{
    margin-left: auto;
    width: 6%;
    height: 6%;
}

@media (min-width: 1000px) {
    .like-icon{
        margin-left: auto;
        width: 4%;
        height: 4%;
    }
}
/* 
@media (min-width: 1200px) {
    .like-icon{
        margin-left: auto;
        width: 6%;
        height: 6%;
    }
} */
