.cont {
    margin-top: 8rem;
}
.icon {
    width: 6%;
    height: 6%;
    margin-left: 10px;
}
@media (min-width: 768px) { 
    .cont{
        margin-top: 30%;
    }
}

@media (min-width: 1000px) {
    .cont{
        margin-top: 23%;
    }
    .icon {
        width: 4%;
        height: 4%;
        margin-left: 10px;
    }
}
/* 
@media (min-width: 1200px) {
    .cont{
        margin-top: 23%;
    }
    .icon {
        width: 4%;
        height: 4%;
        margin-left: 10px;
    }
} */